<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Check your prediction</title>
</head>
<body>
<h1>Welcome to quote service. This wonderful service provides you motivating quotes for every day. </h1>
<h3>Please select a day in dropdown menu beside and click button "Get your quote"</h3>
<select>
    <option value="">Select a day</option>
    <option th:each="day : ${daysForm}"
            th:value="${day.id}"
            th:text="${day.day_desc}"/>
</select>
<a th:href="@{/generate}">Get your quote!</a>
</body>
</html>
